header {
  background: #4f6a69;
  color: #f9f9f9;
  font-family: "Arial";
  text-align: center;
  padding: 3vh;
  margin: 0;
}

.nav {
  background-color: #1489b8;
  padding: 1vh;
  margin: 0;
  overflow: hidden;
}

.nav a {
  color: #eef3ef;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  word-spacing: -6px;
}

body {
  background-color: #eef3ef;
  color: #092834;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  font-weight: 100;
  vertical-align: middle;
  margin: 0;
}

.report {
  margin: auto;
  vertical-align: middle;
  max-width: 600px;
}

h2 {
  text-align: center;
}

li {
  list-style-type: none;
  color: #347b98;
}

select {
  text-align-last: center;
}

input {
  text-align: center;
}

