header {
  background: #5e9d31;
  color: #f9f9f9;
  font-family: "Arial";
  text-align: center;
  padding: 3vh;
  margin: 0;
}

.nav {
  background-color: #fcfbe3;
  color: black;
  padding: 1vh;
  margin: 0;
  overflow: hidden;
}

.nav a {
  color: darkblue;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  word-spacing: -6px;
}

body {
  align-self: center;
  background-color: #cef0b7;
  color: #092834;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4rem;
  font-weight: 100;
  vertical-align: middle;
  margin: 0;
}

li {
  list-style-type: none;
  color: #347b98;
}

/* /form styles. TODO: move to own file. */
form {
  padding-top: 10vh;
  display: grid;
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-gap: 20px;
}

label {
  float: left;
  text-align: center;
  grid-row: 1 / 2;
}

/* TODO: split input css for form and other pages. */
select {
  text-align: center;
}

input {
  text-align: center;
}


input:focus {
  background-color: lightblue;
}

.add-set-btn {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.send-btn {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.entries {
  grid-row: 2 / 3;
  grid-column: 1 / 6;
}

.liftEntry {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-gap: 20px;
}


.ex {
  grid-column: 2 / 3;
}
.we {
  grid-column: 3 / 4;
}
.re {
  grid-column: 4 / 5;
}
