header {
  background: #5e9d31;
  color: #0943e1;
  font-family: "Arial";
  text-align: center;
  padding: 3vh;
  margin: 0;
}

.nav {
  background-color: #d1e2c5;
  color: black;
  padding: 1vh;
  width: 100%;
  overflow: hidden;
}

.nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  word-spacing: -6px;
}

body {
  margin: 0;
  align-self: center;
  background-color: #cef0b7;
  color: #092834;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4rem;
  font-weight: 100;
  vertical-align: middle;
}

li {
  list-style-type: none;
  color: #347b98;
}

/* /form styles. TODO: move to own file. */
form {
  padding-top: 10vh;
  display: grid;
  margin: auto;
  max-width: 800px;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

label {
  float: left;
  text-align: center;
  grid-row: 1 / 2;
}

/* TODO: split input css for form and other pages. */
input {
  float: center;
  text-align: center;
}

input:focus {
  background-color: lightblue;
}

.add-set-btn {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.send-btn {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.entries {
  grid-row 2 / 3;
  grid-column: 1 / 4;
}

.liftEntry {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  grid-auto-columns: 1fr 1fr 1fr;
}

.ex {
  grid-column: 1 / 2;
}
.we {
  grid-column: 2 / 3;
}
.re {
  grid-column: 3 / 4;
}
