<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/js/test.js"></script>
  </head>
    <body>
    <header role="banner">
      <h1>Sage Workout Tracking</h1>
    </header>
    <div class="nav">
      <a href="/">Home</a>
      <a href="/addLift">Add Lift</a>
    </div>
    {{{body}}}
  </body>
</html>
