<body>
  <div class="report">
    <h2>Most recent lifts:</h2>
    {{#each workout}}
      <div>{{this.type}} for {{this.reps}} reps at {{this.weight}} on {{this.liftTime}}</div>
    {{/each}}
  </div>
</body>
