<script src="js/query.js"></script>
<button type="button" onclick="loadQueryResponse()">Lookup</button>
<select id="exercise" name="exercise" class="ex">
  <option value=""/>
  <option value="squats">Squats</option>
  <option value="bench press">Bench Press</option>
  <option value="deadlift">Deadlift</option>
  <option value="pull-ups">Pull-Ups</option>
</select>
<div id="test">
</div>
