<script src="js/query.js"></script>
<link rel="stylesheet" type="text/css" href="/css/query.css">
<div class="parameters">
  <button type="button" onclick="loadQueryResponse()">Lookup</button>
  <select id="exercise" name="exercise" class="ex">
    <option value=""/>
    <option value="squats">Squats</option>
    <option value="bench press">Bench Press</option>
    <option value="deadlift">Deadlift</option>
    <option value="pull-ups">Pull-Ups</option>
  </select>
</div>
<div id="test">
</div>
