body {
  align-self: center;
  background-color: #add9c3;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4rem;
  font-weight: 100;
  padding-top: 10vh;
  vertical-align: middle;
}

div {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

li {
  list-style-type: none;
}

/* /form styles. TODO: move to own file. */
form {
  padding-top: 15vh;
  display: grid;
  margin: 2rem auto 0 auto;
  max-width: 800px;
  overflow: hidden;
  grid-gap: 25px;
}

label {
  float: left;
  text-align: center;
  grid-row: 1 / 2;
  padding-right: 12px;
}

/* TODO: split input css for form and other pages. */
input {
  float: left;
  grid-row: 2 / 3;
}

input:focus {
  background-color: lightblue;
}

.send-btn {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
